.quantity {
  appearance: textfield;
  @apply w-8 border-accents-2 border bg-white  mx-3 rounded text-center text-sm text-black;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

.productImage {
  position: absolute;
  transform: scale(1.9);
  width: 100%;
  height: 100%;
  left: 30% !important;
  top: 30% !important;
}
